*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.App{
    display: flex;
}

.sidebar-container{
    width: 274px;
    height: 100vh;
    background: #D9D9D9;
}

.main-container{
    flex: 1;
    height: 100vh;
    background: #FFFFFF;
    overflow-y: auto;
}