/* Bottom Bar Container */
.bottom-bar {
    
    margin: 0 auto;
  width: 393px;
  height: 90px;
  background: #ffffff;
  border-top: 1px solid #EAE9F0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Menu */
.menuItems {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 0 16px;
  margin: 0;
}

/* Menu Item */
.item {
  flex: 1;
  text-align: center;
}

.item a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  text-decoration: none;
  font-size: 12px;
  color: #445668;
}

/* Icon */
.item .icon svg {
  width: 20px;
  height: 20px;
}

/* Active State */
.item-active a {
  color: #2051E5;
}

.item-active svg path {
  fill: #2051E5;
}

/* Home Indicator */
.home-indicator {
  position: absolute;
  width: 127.2px;
  height: 4.84px;
  bottom: 7.74px;
  left: 50%;
  transform: translateX(-50%);
  background: #4E485E;
  border-radius: 95px;
}
